* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

form {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  margin-bottom: 1rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#first-title {
  margin-top: 7rem;
}

.btn-floating {
  display: block;
  margin: auto;
  margin-bottom: 5rem;
}

.btn-floating i {
  font-size: 35px;
  padding-left: 5px;
}

select option {
  display: block;
}

.first-input-field {
  margin-bottom: 1rem;
}

@media (max-width: 375px) {
  h2 {
    font-size: 2.5rem;
  }
}